.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    gap: 45px;
    display: grid;
    padding: 120px 80px;
    grid-template-columns: repeat(3, 1fr);
}

.card-container{
    background-color: #FF99004D;
}