.product{
    width: 300px;
    height: 520px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #95A0A7;
}

.product img{
    margin: 7px;
    width: 286px;
    height: 286px;
    border-radius: 8px;
}

.card-information{
    padding-left: 14px;
}

.card-price{
    margin-bottom: 28px;
}

.others-information p{
    margin: 0;
}

.card-title{
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    color: #0E161A;
    font-family: Lato;
    margin-bottom: 10px;
}

.btn-card {
    bottom: 0;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #0E161A;
    position: absolute;
    transition: all .2s;
    background: #FFE0B3;
    letter-spacing: 0.188px;
    border-radius: 0px 0px 8px 8px;
}

.btn-card:hover{
    cursor: pointer;
    background-color: #ff9900;
}