.form-container {
  width: 500px;
  height: 600px;
  margin: 100px auto;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  background: #fff;
  padding-left: 40px;
}

.form-title {
  text-align: center;
  color: #2a414f;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.088px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  color: #2a414f;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.026px;
  display: block;
}

.form-control input {
  width: 415px;
  height: 55px;
  font-size: 1.5em;
  padding-left: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #95a0a7;
}

.btn-submit {
  width: 415px;
  height: 55px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(255, 153, 0, 0.3);
  color: #0e161a;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  letter-spacing: 0.032px;
  padding-left: 10px;
  border: none;
  align-items: center;
  margin-top: 40px;
  transition: all 0.2s;
}

.btn-submit:hover {
  background-color: rgb(252, 203, 143);
}
